<h4 class="page-header">Login</h4>
<%= form_tag '/login' do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br/>
  <%= submit_tag "Login", class: "btn btn-primary" %>
<% end %>
<hr>
<div class="register-offset">
  <h6>Don't have an account yet?</h6>
  <%= link_to "Register", new_user_path, class: "btn" %>
</div>