<h3><%= current_user.name %> logged in</h3>

<% @tasks.each do |task| %>
  <p>Description: <%= task.description %> </p>
  <p>Weight: <%= task.weight %> </p>
  <p>Due Date: <%= task.due_date %> </p>
  <p>
    Skills:
    <% task.skills.each do |skill| %>
    <span><%= skill.name %>
    <% end %>
  </p>
  <p>
    Users: 
    <% task.users.each do |user| %>
      <span><%= user.name %></span>
    <% end %>
  </p>
  <% if task.belongs_to_specific_project? %>
    <p>Project: <% task.project.name %></p>
  <% else %>
    <p>Project: None</p>
  <% end %>
  <p>
    <% if Obligation.where(user_id: current_user.id, task_id: task.id).first.nil?%>

    <% else %>
      <% if Obligation.where(user_id: current_user.id, task_id: task.id).first.date_completed.nil? %>
        <%= link_to "DONE!", has_been_completed_task_path(task), method: 'post' %>
      <% else %>
        <%= "Completed on: #{Obligation.where(user_id: current_user.id, task_id: task.id).first.date_completed}" %>
      <% end %>
    <% end %>
  </p>
  <br>
<% end %>
<%= link_to "New Task", new_task_path %>